body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto {
    width: 250px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.produto img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s;
}

.produto img:hover {
    transform: scale(1.1);
}

.detalhes {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.detalhes p {
    margin: 0;
}

.detalhes button {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
